.git
.gitignore
**/.git
**/.gitignore
.gitattributes
.github
**/.editorconfig
**/.idea
**/.vscode
**/.DS_Store
**/node_modules
**/dist
**/build
**/.env
**/.env.*
**/coverage
**/logs
**/__pycache__
**/*.pyc
**/*.db
**/*.sqlite3
docs
*.md
!README.md